.popup_opened {
    position: relative;
    display: flex;
}

.popup_opened::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
}