.popup__container { 
    display: flex;
    flex-direction: column;
    position: fixed;
    left: calc((100% - 430px)/2);
    top: calc((100% - 330px)/2);
    min-width: 430px;
    min-height: 330px;
    background: #FFFFFF;
    border-radius: 10px;
}
