.popup__container { 
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 425px;
    top: 195px;
    min-width: 430px;
    min-height: 330px;
    background: #FFFFFF;
    border-radius: 10px;
}
