.popup__container { 
    display: flex;
    flex-direction: column;
    position: fixed;


    max-width: 430px;
    background: #FFFFFF;
    border-radius: 10px;
    z-index: 2;
}


@media screen and (max-width: 767px) {
    .popup__container { 
        max-width: 282px;
    }
}
