.header {
    max-width: 880px;
    max-height: 73px;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 767px) {
    .header {
        min-width: 100%;
        max-height: 56px;
    }
} 