.profile__description {
    margin: 18px 0 6px 30px;
    display: flex;
}

@media screen and (max-width: 767px) {
    .profile__description {
        margin: 26px 0 10px;
        justify-content: center;
    }
} 
