.popup__submit-button {
    min-width: 358px;
    min-height: 50px;
    padding: 0;
    border: none;
    font: inherit;
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 2px;
    margin: 0 auto 37px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.popup__submit-button:hover {
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .popup__submit-button { 
        min-width: 238px;
        margin: 0 22px 25px;
        font-size: 14px;
        line-height: 17px;
        min-height: 46px;

    }
}