.profile__author-subline {
    max-width: 336px;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 30px;
    margin-bottom: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .profile__author-subline {
        max-width: 282px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-left: 0;
        margin-bottom: 0;
    }
} 
