.popup__subline-info {
    padding: 0;
    border: none;
    margin: 0 36px 48px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    min-width: 358px;
}

@media screen and (max-width: 767px) {
    .popup__subline-info { 
        min-width: 238px;
        max-height: 26px;
        margin: 0 22px 45px;

    }
}