.popup__close-button {
    padding: 0;
    border: none;
    background-color: transparent;
    min-width: 32px;
    min-height: 32px;
    position: fixed;
    left: calc(((100% - 430px)/2) + 438px);
    top: calc(((100% - 322px)/2) - 32px - 12px);
    background-image: url(../../images/close-button-l.svg);
}

.popup__close-button:hover {
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .popup__close-button { 
        left: calc(((100% - 282px)/2) + 262px);
        top: calc(((100% - 322px)/2) - 36px);
        min-width: 20px;
        min-height: 20px;
        background-size: cover;
    }
}
