.popup__close-button {
    padding: 0;
    border: none;
    background-color: transparent;
    min-width: 32px;
    min-height: 32px;
    background-image: url(../../../images/close-button-l.svg);
    z-index: 2;

    margin-left: calc(32px + 12px + 430px);    
    margin-bottom: calc(32px + 12px + 330px);
}

.popup__close-button:hover {
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .popup__close-button { 
        min-width: 20px;
        min-height: 20px;
        background-size: cover;

        margin-left: calc(282px - 20px);    
        margin-bottom: calc(20px + 30px + 322px);
    }
}
