.close-button {
    padding: 0;
    border: none;
    background-color: transparent;
    min-width: 32px;
    min-height: 32px;
    background-image: url(../../images/close-button-l.svg);
    z-index: 2;

    position: absolute;
    right: -40px;
    top: -40px;
}

.close-button:hover {
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .close-button { 
        min-width: 20px;
        min-height: 20px;
        background-size: cover;

        top: -36px;
        right: 0;
    }
}
