.popup__field {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 767px) {
    .popup__field {
        margin-bottom: 0;
    }

    .popup__field:last-child {
        margin-bottom: 5px;
    } 
}